html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Heebo", sans-serif;

  .container {
    align-items: center;
    display: flex;
    justify-content: right;
    & nav {
      padding: 27px 60px;

      & a {
        margin-right: 33px;
        font-weight: 500;
        font-size: 20px;
        line-height: 29px;
      }
    }
  }
  .container1 {
    padding: 100px 20px 58px;
    .section {
      max-width: 860px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      .block {
        display: flex;
        .blockIn {
          .hiJohn {
            font-weight: 700;
            font-size: 44px;
          }
          .justText {
            margin-top: 40px;
            font-weight: 900;
            font-size: 16px;
          }
          & button {
            border-color: rgb(255, 255, 255);
            background-color: rgb(255, 73, 73);
            margin-top: 38px;
            width: 210px;
            height: 45px;
            font-weight: 500;
            font-size: 20px;
            color: white;
            &:hover {
              background-color: rgb(255, 255, 255);
              color: #000000;
              transition: 500ms ease;
            }
          }
        }
        & picture {
          & img {
            margin-left: 115px;
          }
        }
      }
    }
  }

  .section2 {
    height: 493px;
    background-color: #edf7fa;
    margin-top: 85px;
    .recentPost {
      display: flex;
      & h2 {
        color: #21243d;
        padding-left: 98px;
        padding-top: 45px;
        font-weight: 100;
      }
      & a {
        margin-left: 815px;
        margin-top: 68px;
        text-decoration: none;
      }
    }
    .myBlock {
      display: flex;
      gap: 25px;
      margin-left: 99px;
      .block1 {
        background-color: white;
        width: 500px;
        height: 325px;

        & p {
          font-size: 26px;

          font-weight: bold;
          padding-left: 30px;
        }
        .month {
          display: flex;
          gap: 15px;
          padding-left: 30px;

          & h3 {
            font-weight: 100;
            padding: 0;
          }
          & p {
            font-weight: 100;
            padding: 10px;
            margin-top: 5px;
          }
        }
        & h3 {
          display: flex;
          font-weight: 100;
          padding-left: 30px;
        }
      }
    }
  }
  .section3 {
    height: 1060px;
    & h2 {
      padding-top: 50px;
      margin: 0;
      padding-left: 100px;
      font-weight: 100;
    }

    .pictureInBlock {
      display: flex;
      .picturesForDesign {
        & img {
          padding-left: 100px;
          margin-top: 50px;
        }
      }

      .textForDesign {
        .dashboard {
          font-size: 30px;
          padding-left: 30px;
          padding-top: 14px;
          font-weight: bold;
        }
        .buttonWithText {
          display: flex;
          gap: 30px;
          padding-left: 32px;
          & h3 {
            display: flex;
            margin: 0;
            color: #8695a4;
          }
          & button {
            background-color: #142850;
            width: 62px;
            height: 25px;
            border-radius: 20px;
            color: white;
            font-weight: bold;
            font-size: 18px;
          }
        }
        .text {
          font-weight: 100;
          padding-left: 32px;
          padding-top: 17px;
        }
      }
    }
    .vector {
      border: 1px solid #e0e0e0;
      width: 1020px;
      margin-left: 99px;
      margin-top: 40px;
    }
  }
  footer {
    margin: 0;
    height: 300px;
    .socialMediaLogo {
      display: flex;
      justify-content: center;
      gap: 62px;
      padding-top: 40px;
    }
    & h3 {
      display: flex;
      font-weight: 100;
      justify-content: center;
      padding-top: 30px;
    }
    .greyEnd {
      height: 100px;
      background-color: #e5e5e5;
      margin-top: 85px;
    }
  }
}
